| $('#video-pagenate').append('#{render @bookmark_videos}');
| $('#more-link').replaceWith("#{j(link_to_next_page(@bookmark_videos, 'もっと見る', remote: true, class: 'btn btn-light border border-2', id: 'more-link'))}")
