| $('#active-pagenate').append('#{render @actives}');
| $('#more-link').replaceWith("#{j(link_to_next_page(@actives, 'もっと見る', remote: true, class: 'btn btn-light border border-2', id: 'more-link'))}")
