.progress {
  height: 30px;
  border-radius: 15px;
}

.progress-bar {
  background-color: #3E60FD;
}

.icon {
  width: 120px;
}

.fixed-btn {
  position: fixed;
  right: 20px;
  bottom: 50px;
}

.fa-circle-chevron-left {
  color: #CBCDCB;
}

.fa-circle-chevron-right {
  color: #CBCDCB;
}

.fa-trash-can {
  color: #CBCDCB;
}
