.search-form {
  background-color: #E9ECEF;
  background-clip: padding-box;
  border: 0px;
  border-radius: 30px;
}

.search-btn {
  color: #6C757D;
  background-color: #E9ECEF;
  border: 0px;
  border-radius: 0 20px 20px 0;
}
