.img-size {
  width: 100%;
  height: auto;
}

#more-link {
  border-radius: 30px;
}

.btn-googlemap {
  color: #fff;
  background-color: #3E60FD;
  border-color: #3E60FD;
  border-radius: 30px;
}

.fa-heart {
  color: #3E60FD;
}
